<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <b><%= @name %></b> <br>
    </p>
    <p>Your Debt Record is Created. </p>
    <p><%= @parameters[:amount] %></p>
    <p><%= @parameters[:date] %></p>
    <p><%= @parameters[:owed_to] %></p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
