<!DOCTYPE html>
<html lang="en">
  <head>
  <title>mail</title>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      Hi <strong><%= @name %></strong> <br>
    </p>
    <p> Please find below the details of your expenses.<br>You have to pay .</p>
    <p><%= @parameters[:owed_to] %></p>
    <p><%= @parameters[:amount] %></p>
    <p><%= @parameters[:date] %></p>
    
    <p>Thank you for using Moneybee <br>
    Regards <br>
    Team Moneybee</p>

    
  </body>
</html>
