.div-edit{
    box-shadow: 11px 18px 23px -3px rgba(74,71,74,1);
    height: 45%;
    width: 30%;
    padding-left: 5%;
    padding-right: 4%;
    padding-top: 1%;
    border-radius: 5px 9px 10px;
    
}
