#user-profile{
   font-size: 150px;
   margin-left: 40%;
   margin-top: 4%;
   color: green;
  
}
.profile-edit{
    box-shadow: 5px 5px 10px grey;
    height: 55%;
    width: 45%;
    padding-left: 3%;
    padding-right: 3%;
    margin-left: 8%;

}
.edit-btn{
    height: fit-content;
    width: 14%;
    padding: 5px;
    border: none;
    background-color: #58C479;
    color: white;
    text-decoration: none;
    // height: 40px;
    border-radius: 10px;
    margin-left: 35%;
}
.dlt-btn{
    height: fit-content;
    width: 35%;
    padding: 5px;
    border: none;
    background-color: #58C479;
    color: white;
    text-decoration: none;
    // height: 40px;
    border-radius: 10px;
    margin-left: 2%;
}