body{
    background-color: #F0F2F5;
}
a{
    text-decoration: none !important;
}
.icns{
    color: #58C479;
}
#logo-text{
    margin-left: -70px;
}
#sidebar{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1A8367;
}
#side-bar-ul li a:hover{
    background-color: #377349;
}
#active-tab{
    background-color: #58C479;
}
#home-main-logo{
    height: 40px;
    width: auto;
    margin-left: 55px;
}

#rupee{
    height: 25%;
    width: 78%;
}
#inc_img{
    height: 135px;
    width: auto;
}
#exp_img{
    height: 135px;
    width: auto;
}
#rep_img{
    height: 135px;
    width: auto;
}

.btn-c {
    height: fit-content;
    width: auto;
    padding: 8px;
    border: none;
    background-color: #1A8367;
    color: white;
    text-decoration: none;
    // height: 40px;
    border-radius: 10px;
}
.btn-c-l {
    height: fit-content;
    width: auto;
    padding: 5px;
    border: none;
    background-color: #58C479;
    color: white;
    text-decoration: none;
    // height: 40px;
    border-radius: 10px;
}
#dlt-confirm{
    height: fit-content;
    width: auto;
    padding: 5px;
    border: none;
    background-color: #ef3f0e;
    color: white;
    text-decoration: none;
    // height: 40px;
    border-radius: 10px;

}
.fa-trash{
    color: #e0370c;
}
.fa-pen{
    color: #1A8367;
}
.color-green{
    color: #1A8367;
    font-size: 42px;
}
// home-page
#home-top-div{
    margin-top: 20px;
    position: absolute;
    top: 0%;
    left: 22%;
    width: 76%;
}
#home-top-panel{
    height: 90px;
    border-radius: 10px;
    padding: 10px;
}
.home-top-sub{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    margin-right: 10px;
    padding: 10px;
    display: inline-flex;
}
#home-graph-div{
    background-color: rgb(235, 235, 235);
    border-radius: 10px;
    padding: 10px;
    width: 93%;
    height: 400px;
}
#logout{
    color: white !important;
    margin-left: 82px;
}


#confirm-box{
    position:fixed;
    top: 48%;
    left: 40%;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    border: solid 1px black;
    display: none;
}
.cover-logo{
    height: 50px;
        margin-left: 50px;
}
