.icns{
    color: #58C479;
}
#sidebar{
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    background-color: #1A8367;
}
#side-bar-ul li a:hover{
    background-color: #377349;
}
#active-tab{
    background-color: #58C479;
}
#home-main-logo{
    height: 40px;
    width: auto;
    margin-left: 55px;
}
.full-div{
    display:flex;
    flex-wrap: wrap;
    gap: .5rem;
    margin-left: 10%;

}
.box{
    // float: left;
    // border: #377349;
    margin-left: 100px;
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 1rem;
    text-align: center;
    width: 200px;
    height: 200px;
    // box-shadow: inset -10px -10px 15px rgba(255, 255, 255, 0.5),
    // inset 10px 10px 15px rgba(70, 70, 70, 0.12);
    // background-color: yellow;
    // border: rgb(136, 136, 136) solid ;
    display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
  border: solid #58C479 ;
  border-width: .4px;

}

.box:hover{
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

#rupee{
    height: 25%;
    width: 78%;
}
#inc_img{
    height: 135px;
    width: auto;
}
#exp_img{
    height: 135px;
    width: auto;
}
#rep_img{
    height: 135px;
    width: auto;
}
.dashboard{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}
.btn-c {
    height: fit-content;
    width: auto;
    padding: 5px;
    border: none;
    background-color: #1A8367;
    color: white;
    text-decoration: none;
    height: 40px;
    border-radius: 10px;
}
