<div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <%= image_tag('cover-logo.png',alt: "logo", id: "home-main-logo") %>

      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
        </ul>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
        <li class="nav-item">
        <a href="/home" class="nav-link text-white"  aria-current="page">
              <em class="fa-solid fa-house"></em>&nbsp;&nbsp;
            Home
        </a>
        </li>
        <li class="nav-item">
        <a href="/income" class="nav-link text-white" aria-current="page">
               <em class="fa-solid fa-sack-dollar"></em>&nbsp;&nbsp;
            Income
        </a>
        </li>
        <li>
        <a href="/expense" class="nav-link text-white">
                    <em class="fa-solid fa-wallet"></em>&nbsp;&nbsp;
            Expense
        </a>
        </li>
        
        <li>
        <a href="/debt_recorder" class="nav-link text-white">
             <em class="fa-solid fa-hand-holding-dollar"></em>&nbsp;&nbsp;
            Record Debt
        </a>
        </li>
        <li>
        <a href="/feedback" class="nav-link text-white"  id="active-tab">
           <em class="fa-solid fa-comments"></em>&nbsp;&nbsp;
            feedback
        </a>
        </li>
       
    </ul>
    <hr>
 <a href="/logout" id="logout"><em class="fa-solid fa-right-from-bracket text-white"></em>&nbsp; Logout</a>
</div>

<div class="feedback">
  <p class="text-success">
    <%= flash[:notice]%>

  </p>
  <form class="form-box px-3" action="/save_feedback" method="post">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <div class="form-input">
      <textarea name="feedback" placeholder="Enter your feedback" id="feedback" tabindex="10" required cols="70" rows="10"></textarea>
      </div>
  
    <div><p class="text-danger"><%= flash[:error] %></p></div>
  
    <div class="mb-3">
      <button type="submit" class="btn btn-block " id="fb_btn" onclick="feedback()">
        submit
      </button>
    </div>
  
  </form>
</div>

<style>
  #feedback{
    border: rgb(207, 207, 207) 1px solid;
    border-radius: 20px;
    padding: 10px;
    margin-left: 20px;
  }
  #fb_btn{
    width: 115px;
    margin-left: 235px;
    border-radius: 5px;
  }
</style>
