<div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <%= image_tag('mb-mini.png',alt: "logo", id: "home-main-logo") %>

      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
      <li class="nav-item">
        <a href="/home" class="nav-link text-white" id="active-tab" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/income" class="nav-link text-white" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Income
        </a>
      </li>
      <li>
        <a href="/expense" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Expense
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
         Savings
        </a>
      </li>
      <li>
        <a href="/debt_recorder" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
         Record Debt
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
         feedback
        </a>
      </li>
    </ul>
    <hr>
  <a href="/logout">Logout</a>
</div>

<form class="form-box px-3" action="/save_feedback" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
    <div class="form-input">
    <textarea name="feedback" placeholder="Enter your feedback" id="feedback" tabindex="10" required cols="30" rows="10"></textarea>
    </div>

  <div><p class="text-danger"><%= flash[:error] %></p></div>

  <div class="mb-3">
    <button type="submit" class="btn btn-block ">
      submit
    </button>
  </div>

</form>

<style>
  #feedback{
    border: rgb(207, 207, 207) 1px solid;
    border-radius: 20px;
    padding: 10px;
  }
</style>