<!-- <body>
    <div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
          <svg class="bi pe-none me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
          <%= image_tag('mb-mini.png',alt: "logo", id: "home-main-logo") %>
    
          <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
            <li><a class="dropdown-item" href="#">Profile</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Sign out</a></li>
          </ul>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
          <li class="nav-item">
            <a href="/home" class="nav-link text-white" id="active-tab" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a href="/income" class="nav-link text-white" aria-current="page">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
              Income
            </a>
          </li>
          <li>
            <a href="/expense" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
              Expense
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
             Savings
            </a>
          </li>
          <li>
            <a href="/debt_recorder" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
             Record Debt
            </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white">
              <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
             feedback
            </a>
          </li>
        </ul>
        <hr>
      <a href="/logout">Logout</a>
    </div> -->
    
    <div class="container">
        <canvas id="myChart"></canvas>
         
    </div>
    
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script>
    let myChart = document.getElementById('myChart').getContext('2d');

    //global options
    // Chart.defaults.global.defaultFontFamily = 'Lato';
    // Chart.defaults.global.defaultFontSize = 18;
    // Chart.defaults.global.defaultFontColor  ='#777';


    let massPopChart = new Chart(myChart,{
        type:'bar',
        data:{
            labels:['b1', 'b2', 'b3', 'b4'],
            datasets:[{
                label:'population',
                data:[
                    345,
                    567,
                    755,
                    654,
                ],
                // backgroundColor:'red'
                backgroundcolor:[
                    'rgba(255, 99, 132, 0.6)',
                    'rgba(54, 162, 235, 0.6)',
                    'rgba(255, 162, 235, 0.6)',
                    'rgba(54, 162, 235, 0.6)'
                ],
                borderWidth:4,
                borderColor:'#777',
                hoverBorderWidth:3,
                HoverBorderColor:'#000'
            }]
        },
        Options:{
            title:{
              display:true,
              text:'expense',
              fontSize:25;
            },
            legend:{
                display:false,
                position:'right',
                labels:{
                    fontColor:'#000'

                }
            },
            layout:{
                padding:{
                    left:50,
                    right:0,
                    bottom:0,
                    top:0
                }
            },
            tooltips:{
                enabled:true,
            }
        }
        
        
        });
</script>