<div class="d-flex flex-column flex-shrink-0 p-3 " id="sidebar" style="width: 280px;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <%= image_tag('cover-logo.png',alt: "logo", id: "home-main-logo") %>
      <!-- <span class="fs-4">Sidebar</span> -->
      <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
        <li><a class="dropdown-item" href="#">Profile</a></li>
        <li><hr class="dropdown-divider"></li>
        <li><a class="dropdown-item" href="#">Sign out</a></li>
      </ul>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto" id="side-bar-ul">
      <li class="nav-item">
        <a href="/home" class="nav-link text-white" id="active-tab" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Home
        </a>
      </li>
      <li class="nav-item">
        <a href="/income" class="nav-link text-white" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Income
        </a>
      </li>
      <li>
        <a href="/expense" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#speedometer2"></use></svg>
          Expense
        </a>
      </li>
      <li>
        <a href="#" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
         Savings
        </a>
      </li>
      <li>
        <a href="/debt_recorder" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
         Record Debt
        </a>
      </li>
      <li>
        <a href="/feedback" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
         Feedback
        </a>
      </li>
       <li>
        <a href="/report" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
        Report
        </a>
      </li>
      
    </ul>
    <hr>
  <a href="/logout">Logout</a>
  </div >
